{% extends 'base.html.twig' %}

{% block title %}Admin - New{% endblock %}

{% block body %}
    {%  include 'layout/sidebar.html.twig' %}
    <h1 class="m-3 text-center">Créer un Utilisateur</h1>

    <div class="container-fluid w-50 mt-5">
        <div class="d-flex flex-column align-items-stretch">

            {% for user in users %}
                <p>{{ user.email }}</p>
            {% endfor %}
            <a class="btn btn-primary" href="{{ path('app_admin_dashboard') }}">Retour à la liste</a>

        </div>
    </div>

{% endblock %}